Repository Armor-test/order-connector-529, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Armor-test/dept-api, @Armor-test/unit-test, @Armor-test/squad-search, @Armor-test/unit-cloud, @Armor-test/squad-ux, @Armor-test/squad-api, @Armor-test/squad-ml, @Armor-test/team-frontend, @Armor-test/dept-reporting, @Armor-test/squad-performance, @Armor-test/squad-cloud, @Armor-test/squad-reporting, @Armor-test/squad-apps, @Armor-test/grp-integration, @Armor-test/dept-notifications, @Armor-test/grp-payments, @Armor-test/squad-product, @Armor-test/team-notifications, @Armor-test/dept-reliability, @Armor-test/dept-test, @Armor-test/dept-automation, @Armor-test/grp-search, @Armor-test/squad-qa, @Armor-test/unit-governance, @Armor-test/squad-frontend, @Armor-test/squad-payments, @Armor-test/squad-tooling, @Armor-test/team-governance, @Armor-test/grp-reporting, @Armor-test/dept-logging, @Armor-test/team-research, @Armor-test/squad-database, @Armor-test/grp-storage, @Armor-test/dept-release, @Armor-test/dept-security, @Armor-test/dept-data, @Armor-test/dept-billing, @Armor-test/ci-team, @Armor-test/devops, @Armor-test/security, @Armor-test/auth-team

Add src/.gitkeep
  src/.gitkeep
Owners: @Armor-test/dept-reporting, @Armor-test/squad-performance, @Armor-test/squad-cloud

Add docs/.gitkeep
  docs/.gitkeep
Owners: @Armor-test/dept-api, @Armor-test/unit-test, @Armor-test/squad-search

Add test/.gitkeep
  test/.gitkeep
Owners: @Armor-test/squad-reporting, @Armor-test/squad-cloud

Add src/main.py
  src/main.py
Owners: @Armor-test/dept-notifications, @Armor-test/squad-qa, @Armor-test/dept-data

Add src/index.js
  src/index.js
Owners: @Armor-test/dept-reporting, @Armor-test/squad-performance, @Armor-test/squad-cloud

.github/CODEOWNERS:

# CODEOWNERS file for order-connector-529
# Global owners - will be requested for all PRs
* @Armor-test/dept-api @Armor-test/unit-test @Armor-test/squad-search

# Directory ownership
/pkg/ @Armor-test/unit-cloud @Armor-test/squad-ux @Armor-test/squad-api
/public/ @Armor-test/squad-api @Armor-test/squad-ml @Armor-test/team-frontend
/src/ @Armor-test/dept-reporting @Armor-test/squad-performance @Armor-test/squad-cloud
/test/ @Armor-test/squad-reporting @Armor-test/squad-cloud
/third_party/ @Armor-test/dept-reporting @Armor-test/squad-apps @Armor-test/unit-cloud
/web/ @Armor-test/grp-integration @Armor-test/dept-notifications @Armor-test/grp-payments
/deploy/ @Armor-test/squad-reporting @Armor-test/squad-product @Armor-test/squad-api
/components/ @Armor-test/squad-performance @Armor-test/team-notifications
/hooks/ @Armor-test/dept-reliability @Armor-test/squad-ml
/styles/ @Armor-test/dept-test @Armor-test/unit-cloud
/auth/ @Armor-test/dept-automation @Armor-test/grp-search

# File type ownership
*.go @Armor-test/squad-qa @Armor-test/unit-governance
*.yaml @Armor-test/grp-integration @Armor-test/squad-frontend @Armor-test/squad-payments
*.sh @Armor-test/dept-test @Armor-test/squad-tooling
*.json @Armor-test/dept-test @Armor-test/team-governance
*.h @Armor-test/squad-product @Armor-test/squad-cloud
*.css @Armor-test/squad-reporting @Armor-test/grp-reporting @Armor-test/dept-logging
*.html @Armor-test/team-research @Armor-test/squad-database @Armor-test/squad-reporting
*.sql @Armor-test/squad-api @Armor-test/grp-storage
*.properties @Armor-test/team-governance @Armor-test/squad-cloud @Armor-test/team-research
*.md @Armor-test/squad-product @Armor-test/squad-ml @Armor-test/dept-notifications
*.scss @Armor-test/dept-release @Armor-test/dept-security
*.py @Armor-test/dept-notifications @Armor-test/squad-qa @Armor-test/dept-data
*.yml @Armor-test/dept-automation @Armor-test/grp-storage
*.config @Armor-test/team-notifications @Armor-test/squad-api @Armor-test/squad-frontend
*.swift @Armor-test/dept-notifications @Armor-test/squad-database @Armor-test/dept-billing

# Security and special files
.github/workflows/ @Armor-test/ci-team @Armor-test/devops
/src/**/auth/ @Armor-test/security @Armor-test/auth-team
Jenkinsfile @Armor-test/ci-team @Armor-test/devops
